.card {
    
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px grey;
    background-color: red;
}

.card__image {
    width: 14rem;
    height: auto;
    object-fit: cover;
}

.card__body {

}